In [19]:
import pandas as pd
import numpy as np 
import re
import requests
import json

from urllib.request import urlopen
import seaborn as sns
from word2number import w2n
import matplotlib.pyplot as plt
import string
import time
import yfinance as yf
import os
import csv
from json import dumps
import ast

In [218]:

  from flatten_json import flatten
# # Opening JSON file
# df = pd.read_csv('/Users/petebaker/Desktop/nest_set.csv')
# returns JSON object as 
# a dictionary
df = pd.read_json('/Users/petebaker/Desktop/data.json')

# Iterating through the json
# list

In [206]:
f = open('/Users/petebaker/Desktop/data.json')

df =f.read()

In [212]:
df

,index,Company,Industry,Stock,Holder,Shares,Date Reported,% Out,Value
0,0,Rio Tinto PLC,Other Industrial Metals & Mining,BUE:RIO,"{'0': 'Fisher Asset Management, LLC', '1': 'St...","{'0': 12165772, '1': 12132020, '2': 10511419, ...","{'0': 1609286400000, '1': 1609286400000, '2': ...","{'0': 0.0098, '1': 0.0097, '2': 0.0084, '3': 0...","{'0': 915109369, '1': 912570544, '2': 79066893..."
1,1,Rio Tinto Ltd,Other Industrial Metals & Mining,ASX:RIO,"{'0': 'Fisher Asset Management, LLC', '1': 'St...","{'0': 12165772, '1': 12132020, '2': 10511419, ...","{'0': 1609286400000, '1': 1609286400000, '2': ...","{'0': 0.0098, '1': 0.0097, '2': 0.0084, '3': 0...","{'0': 915109369, '1': 912570544, '2': 79066893..."
2,20,Xstrata PLC,Other Industrial Metals & Mining,XSWX:XTAN,None,None,None,None,None
3,23,Idemitsu Kosan Co Ltd,Oil & Gas Refining & Marketing,FRA:I7B,None,None,None,None,None
4,28,Wesfarmers Ltd,Home Improvement Retail,ASX:WES,"{'0': 'Alps Advisors Inc.', '1': 'Invesco Ltd....","{'0': 25376955, '1': 21340971, '2': 13081672, ...","{'0': 1609286400000, '1': 1609286400000, '2': ...","{'0': 0.0614, '1': 0.0517, '2': 0.0317, '3': 0...","{'0': 350709518, '1': 294932219, '2': 18078870..."
...,...,...,...,...,...,...,...,...,...
199,736,The Carlyle Group Inc,Asset Management,FRA:3VU,None,None,None,None,None
200,741,Advanced Metallurgical Group NV,Other Industrial Metals & Mining,FRA:ADG,None,None,None,None,None
201,748,Tata Chemicals Ltd,Chemicals,BOM:500770,None,None,None,None,None
202,751,None,None,None,None,None,None,None,None
203,16383,Company,Industry,Stock,Holder,Shares,Date Reported,% Out,Value

In [220]:
# df['Holder'].to_list()
for data in [df['Holder'].to_list()[0]]: 
    data = data.replace( "\'","\"")
    data = json.loads(data)
    print(data)

{'0': 'Fisher Asset Management, LLC', '1': 'State Farm Mutual Automobile Insurance Co', '2': 'Franklin Resources, Inc.', '3': 'Arrowstreet Capital, Limited Partnership', '4': 'Goldman Sachs Group, Inc.', '5': 'Dimensional Fund Advisors LP', '6': 'Harding Loevner LLC', '7': 'Capital International Investors', '8': 'Neuberger Berman Group, LLC', '9': 'Earnest Partners LLC'}

In [221]:
# df['Shares'].to_list()
for data in [df['Shares'].to_list()[0]]: 
    data = data.replace( "\'","\"")
    data = json.loads(data)
    print(data)

{'0': 12165772, '1': 12132020, '2': 10511419, '3': 6328480, '4': 5303810, '5': 3141974, '6': 2755692, '7': 2686989, '8': 1922463, '9': 1773479}

In [222]:
# df['% Out'].to_list()
for data in [df['% Out'].to_list()[0]]: 
    data = data.replace( "\'","\"")
    data = json.loads(data)
    print(data)

{'0': 0.0098, '1': 0.0097, '2': 0.0084, '3': 0.0051, '4': 0.0043, '5': 0.0025, '6': 0.0022, '7': 0.0022, '8': 0.0015, '9': 0.0014}

In [227]:
# df['Date Reported'].to_list()
for data in [df['Date Reported'].to_list()[0]]: 
    data = data.replace( "\'","\"")
    data = json.loads(data)
    print(data)

{'0': 1609286400000, '1': 1609286400000, '2': 1609286400000, '3': 1609286400000, '4': 1609286400000, '5': 1609286400000, '6': 1609286400000, '7': 1609286400000, '8': 1609286400000, '9': 1609286400000}

In [224]:
# df['Value'].to_list()
for data in [df['Value'].to_list()[0]]: 
    data = data.replace( "\'","\"")
    data = json.loads(data)
    print(data)

{'0': 915109369, '1': 912570544, '2': 790668937, '3': 476028265, '4': 398952588, '5': 236339284, '6': 207283152, '7': 202115312, '8': 144607666, '9': 133401090}

In [225]:
df['Holder']

0      {'0': 'Fisher Asset Management, LLC', '1': 'St...
1      {'0': 'Fisher Asset Management, LLC', '1': 'St...
2                                                   None
3                                                   None
4      {'0': 'Alps Advisors Inc.', '1': 'Invesco Ltd....
                             ...
199                                                 None
200                                                 None
201                                                 None
202                                                 None
203                                               Holder
Name: Holder, Length: 204, dtype: object

In [195]:
copy =df.copy

In [196]:
dict(copy)

TypeError: 'method' object is not iterable

In [85]:
with open('/Users/petebaker/Desktop/flat_data.json','w') as outfile:
    json.dump(meat, outfile)

In [187]:
result = df.to_json(orient='split')

In [80]:
with open('/Users/petebaker/Desktop/ze_data.json', 'w') as outfile:
    json.dump(za, outfile)

In [218]:
d.to_json(r'/Users/petebaker/Desktop/comp.json')

AttributeError: 'str' object has no attribute 'to_json'

In [267]:
json.dump('/Users/petebaker/Desktop/all_data.json',data)

AttributeError: 'DataFrame' object has no attribute 'write'

In [50]:
df =df.to_json(orient='records')

In [81]:
with open("/Users/petebaker/Desktop/za_data.json", "w") as write_file:
    json.dumps(df)

TypeError: dumps() takes 1 positional argument but 2 were given

In [84]:
type(za)

str